#chart {
  background-color: white;
  padding: 30px;
  height: 465px;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
  margin-bottom: 26px;
}

