<div class="header">

    <div class="left-section">
        <i class="fa-solid fa-bars menu-logo"></i>
    </div>
    <div class="middle-section">

        <i class="fa-solid fa-magnifying-glass fa-xl search-logo"></i>
        <input type="text" class="search-box" placeholder="Search">
    </div>
    <div class="right-section">
        <i class="fa-solid fa-message right-logo"></i>
        <i class="fa-solid fa-bell right-logo"></i>
        <i class="fa-solid fa-user right-logo"> Mayur</i>
    </div>
</div>
